body{
margin: 0;
padding: 0;
color: #696969;
font-family: "Helvetica";
word-wrap: break-word;
font-size: 15px;
}
#home {
	display: block;
	
	}

.jumbotron  {
	margin-bottom: 0px;
	height: 700px;
	background: url('https://www.firestock.ru/wp-content/uploads/2015/11/shutterstock_110160008-700x481.jpg');
	background-size: cover;
}

div.carousel-inner{
	background-size: cover!important;
	height: 100vh!important;
	display: flex!important;
	flex-direction: column!important;
	justify-content: center;
	align-items: center;
}

.black-card{
	background-color: #636161;
	position: absolute;
	display: block;
	opacity: 0.4;
	height: 40%;
	width: 45%;
	z-index:3;
	box-sizing: border-box;
	margin-left: 25%;
	margin-top: 15%; 
	margin-bottom: 0px;
}

#logo{
	position: absolute;
	display: block;
	text-align: center;
	list-style-position: outside;
	z-index:15;
	left: 15%;
	box-sizing: border-box;
	height: 100.324px;
	vertical-align: baseline;
	margin-top: 8%;
}

nav.main_menu{          /* стили для меню*/
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 1.5rem;
	text-transform: uppercase;
	background: #EEEEEE;
	margin-bottom: 0.5px;
}
 
 .nav> li > a:hover:after,
 .nav> li > a:focus:after {
 width: 100%;
 left: 0;
} 

.nav> li > a:after { 
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 0;
    height: .1875rem;
    background-color:#357ec5!important;
    transition: all .3s ease-out!important;
}

li.dropdown>ul>li{
	text-transform: lowercase;
	font-family: "Open Sans";
	font-size: 1.7rem;
}

li.dropdown>ul>li:nth-child(even){
	background: #EEEEEE!important;
}
	
li.dropdown>ul>li>a:hover {
	background: #d6f4fc!important;
}
.navbar-toggle{
	border-color: #696969 ;

}
                            /* конец стилей навигации, начало инфоблока*/
div.info {
	text-align:center;
	margin-top: 40px!important;
	margin-bottom: 3em;
}

img.thumbnail{
	max-width: 260px!important;
	height: 190px;
	margin: auto;

}

.more-space{
	margin-top: 20px;
	margin-right: 10px;
	
}

.btn-skin{
    background-color:#314D68!important;
    color: #FAFAFA;
    vertical-align: baseline;
}
			
.center{
	padding-left: 2em;
}
						/* стили для панели новостей*/

footer {
	font-size: .8em;
	margin: 40px;
	color: #999;
	}

footer.content { display: inline; }

footer div.links { display: inline; }

footer a {	margin-left: 30px; 	color: #777; }

footer a::viseted  { color: #777; }

footer a::hover  { color: #000; }